/* Style the history section */
.history-section {
    background-color: rgb(197, 202, 224);
    padding: 50px 20px;
    text-align: center;
}

.history-content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-section {
    flex: 1;
    text-align: left;
}

.image-section {
    flex: 1;
}

/* Style for the history image */
.image-section img {
    max-width: 100%;
    height: auto;
}

/* Responsive styling */
@media (max-width: 768px) {
    .history-content {
        flex-direction: column;
    }

    .text-section,
    .image-section {
        flex: none;
        width: 100%;
    }
}
