/* Style the details section */
.details-section {
    background-color: #cdd0e9; /* Default background color */
    color: rgb(49, 58, 224)/* Default text color */
    padding: 50px 20px;
    text-align: center;
}

.details-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.text-section {
    text-align: left;
}

/* Responsive styling */
@media (max-width: 768px) {
    .details-content {
        flex-direction: column;
    }
}
