/* Style the details section */
.details-section {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
}

.details-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    justify-content: space-between;
    align-items: center;
}

.text-section {
    flex: 1;
    text-align: left;
}

.image-section {
    flex: 0 0 48%; /* Each image takes up 48% of the container */
    margin-bottom: 20px; /* Add some margin between images */
}

/* Style for the details images */
.image-section img {
    max-width: 100%;
    height: auto;
}

/* Responsive styling */
@media (max-width: 768px) {
    .details-content {
        flex-direction: column;
    }

    .text-section,
    .image-section {
        flex: none;
        width: 100%;
    }
}
