/* Style the about section */
.about-section {
    background-color: #d6dceb;
    padding: 50px 20px;
    text-align: center;
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(37, 54, 211, 0.692);
}

.about-text {
    flex: 0.9;
    text-align: left;
}

.about-text h2 {
    font-size: 2.5rem;
    color: #2215ce;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1.2rem;
    color: rgb(11, 63, 235))525;
}
